@color1: #c0c0c0;

.login {
  width: 100%;
  height: 100%;
  background: #1bbe9c;

  .middleBox {
    min-width: 550px;
    min-height: 400px;
    margin-top: 15%;
    background-color: #f4eaf3;
    font-size: 20px;
    color: @color1;
    border-radius: 5%;
    border: 6px solid @color1;

    // 登陆logo
    .login-logo {
      padding: 10px 0;
      border-bottom: 1px solid #c0c0c0;
      text-align: center;

      span {
        text-transform: uppercase;
        display: inline-block;

        img {
          width: 50px;
          height: 50px;
        }

        span {
          vertical-align: middle;
          font-size: 20px;
          color: white;
          font-weight: bolder;
        }
      }

      .projectName {
        letter-spacing: 1px;
        font-size: 25px;
        color: @color1;
      }
    }

    .formBox {
      :global {
        .ant-tabs-bar {
          text-align: center;
          padding-bottom: 10px;
        }

        .ant-tabs-nav {
          color: @color1;
          font-size: 20px;
        }

      }
      
      // 表单样式
      .formStyle {
        text-align: center;

        :global {
          .ant-tabs-tab {
            font-size: 19px;
            font-weight: bold;
            color: @color1;
            letter-spacing: 1px;
          }
        }

        .userStyle,
        .passwordStyle,
        .formBottomStyle {
          width: 60%;
          display: inline-block;
        }

        // 验证码
        .validCode {
          width: 100%;

          .inputCode {
            width: 27%;
            margin-right: 5%;
          }

          .vcode {
            width: 40%;
            display: inline-block;
          }
        }

        // 记住我/忘记密码
        .formBottomStyle{
          .rememberStyle{
            float: left;
          }
          .forgetPwdStyle{
            float: right;
          }
        }


      }

      // 第三方登陆
      .third-login{
        text-align: center;
        padding-bottom: 10px;
        a {
          font-size: 17px;
          padding: 0 15px;
        }
      }

    }

  }

  .canvasBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
}

.installer {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 100px 100px 0;
  border-color: transparent #313653 transparent transparent;
  position: fixed;
  top: 0;
  right: 0;
}

.installer__btn {
  width: 50px;
  height: 50px;
  transform: rotate(45deg);
  left: 50px;
  position: absolute;
  background-size: cover;
}

// 注册页面
.registerBox {
  label {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
  }

  width: 55%;
  margin: 0 auto;

  .cancelButton,
  .confirmButton {
    width: 80px;
    height: 40px;
    font-size: 15px;
    border-radius: 5%;
    background-color: #1aaa55;
    border-color: #168f48;
    color: #fff;
  }
}