/**
 * @ Author: Gszs
 * @ Create Time: 2019-09-30 21:05:22
 * @ Modified by: Gszs
 * @ Modified time: 2019-10-13 15:28:32
 * @ 文件解释: 忘记密码less样式
 */


.fontStyle{
  font-size: 20px;
  font-weight: 500;
}


.forgetPwdStyle{
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  .headerContent{
    img{
      width: 100px;
      height: 100px;
    }
  }
  .middleContent{
    padding-top: 100px; 

    .leftContentHeader{
      .fontStyle();
    }

    .leftContent{
      width: 50%;
      margin: 0 auto;
      padding-top: 5%;
      letter-spacing: 2px;
      font-size: 17px;
    }

    .rightContent{
      .rightContent-1{
        .fontStyle();
      }

      .formStyle{
        width: 40%;
        margin: 0 auto;
        
        button{
          background-color: #1f78d1;
          border-color: #1b69b6;
          color: #fff;
        }

        .hasVerifyCode{
          width: 50%;
        }

        .countDownCode{
          color: white;
          font-weight: 700;
          cursor: pointer;
        }

      }

    }

  }
}
